// Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&family=Ubuntu:wght@400;500&display=swap?family=Raleway:wght@500&display=swap');

$font-1st: 'Roboto', sans-serif;
$font-2nd: 'Ubuntu', sans-serif;
$font-3nd: 'Ubuntu', sans-serif;
$default-font-size: 15px;